body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
      Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navItem {
  color: white;
}

.navItem:hover {
  color: hsl(0deg 0% 100% / 70%);
}